{% extends 'helloDrinks/master.html' %} {% load static %}

<!-- -->
{% block title %}Choix Drink{% endblock %}
<!-- -->
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <i class="bi bi-check-circle">{{ message }}</i>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="d-flex align-items-center mx-5">
  <img class="svg" src="{% static 'helloDrinks/assets/glass.svg' %}" />
  <h1 class="my-1">Choix du drink!</h1>
</div>
<div class="container m-auto my-5 row row-cols-1 row-cols-md-3 g-3">
  {% if cocktails|length %} {% for drink in cocktails %}
  <div class="col">
    <div class="card h-100">
      <img src="{{drink.strDrinkThumb}}" class="card-img-top" />
      <div class="card-body">
        <div class="d-flex flex-column card-title">
          <h2 class="card-title">{{drink.strDrink}}</h2>
          <sub>{{drink.strGlass}}</sub>
        </div>
        <p class="card-text mt-4">
          {% if drink.strInstructionsFR != None %} {{drink.strInstructionsFR}}
          {% else %} {{drink.strInstructions}} {% endif %}
        </p>

        <div class="d-flex align-items-center border-top pt-1">
          <img class="icon" src="{% static 'helloDrinks/assets/pipette.svg' %}" />
          <h3 class="my-1">Ingrédients</h3>
        </div>

        <div class="d-flex flex-wrap justify-content-start">
        {% for ingredient in drink.ingredients %}
          <div class="d-flex flex-column align-items-center mx-2 my-3">
            <p class="m-0">{{ingredient.ingredient}}</p>
            <sub>{{ingredient.mesure}}</sub>
          </div>
        {% endfor %}
        </div>

      </div>
      <div class="card-footer text-center">
        <a href="{% url 'orderDrink' usager_id=usager.id drink_name=drink.strDrink %}" class="fs-1 w-100 btn btn-success">Commander</a>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <h2 class="card-title text-danger">Aucun drink trouvé...</h2>
  {% endif %}
  </div>

  {% endblock %}
</div>
