{% extends 'helloDrinks/master.html' %} {% load static %} 

<!-- -->
{% block title %}Choix Drink{% endblock %}
<!-- -->
{% block content %}
<div class="d-flex align-items-center mx-5">
  <img class="svg" src="{% static 'helloDrinks/assets/glass.svg' %}" />
  <h1 class="my-1">Choix du drink!</h1>
</div>
<div class="container m-auto my-5 row row-cols-1 row-cols-md-3 g-3">
  {% for drink in cocktails %}
  <div class="col">
    <div class="card h-100">
      <img src="{{drink.strDrinkThumb}}" class="card-img-top" />
      <div class="card-body">
        <div class="d-flex flex-column card-title">
          <h2 class="card-title">{{drink.strDrink}}</h2>
          <sub>{{drink.strGlass}}</sub>
        </div>
        <p class="card-text mt-4">
          {% if drink.strInstructionsFR != None %} {{drink.strInstructionsFR}}
          {% else %} {{drink.strInstructions}} {% endif %}
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="fs-1 w-100 btn btn-success">Commander</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
