* {
  box-sizing: border-box; }

img.logo {
  width: 10%; }

main {
  height: 100%; }

body {
  height: 100%; }

img.left, img.right {
  object-fit: cover;
  animation: 25s linear infinite scroll; }

img.left {
  object-position: left; }

img.right {
  object-position: right; }

img.thumbnail {
  object-fit: none; }

@keyframes scroll {
  0% {
    object-position: 0%; }
  100% {
    object-position: 100%; } }
