* {
  box-sizing: border-box;
}

img.logo {
  width: 10%;
}

main {
  height: 100%;
}

body {
  height: 100%;
}

img {
  &.left,
  &.right {
    object-fit: cover;
    animation: 25s linear infinite scroll;
  }
  &.left {
    object-position: left;
  }
  &.right {
    object-position: right;
  }
  &.thumbnail {
    object-fit: none;
  }
}

// Animations
@keyframes scroll {
  0% {
    object-position: 0%;
  }

  100% {
    object-position: 100%;
  }
}
