* {
  box-sizing: border-box; }

img.logo {
  width: 10%; }

main {
  height: 100%; }

body {
  height: 100%; }

img {
  object-fit: cover; }
  img.left {
    object-position: left; }
  img.right {
    object-position: right; }
